apiVersion: skaffold/v4beta11
kind: Config
metadata:
  name: {{.ServiceName}}

build:
  artifacts:
    - image: {{.ServiceName}}
      docker:
        dockerfile: Dockerfile
        buildArgs:
          NODE_VERSION: "22"
  tagPolicy:
    gitCommit:
      variant: AbbrevCommitSha

deploy:
  helm:
    releases:
      - name: {{.ServiceName}}
        chartPath: ../../../infra/helm/service
        valuesFiles:
          - ./deploy/helm/values.yaml
        namespace: {{.WorkspaceName}}
        createNamespace: true
        setValueTemplates:
          image.repository: "{{`{{.IMAGE_REPO_`}}{{.ServiceName}}}}"
          image.tag: "{{`{{.IMAGE_TAG_`}}{{.ServiceName}}}}@{{`{{.IMAGE_DIGEST_`}}{{.ServiceName}}}}"

profiles:
  - name: local
    build:
      artifacts:
        - image: {{.ServiceName}}
          docker:
            dockerfile: Dockerfile
      local:
        push: false
    deploy:
      helm:
        releases:
          - name: {{.ServiceName}}
            chartPath: ../../../infra/helm/service
            valuesFiles:
              - ./deploy/helm/values.yaml
            namespace: {{.WorkspaceName}}
            createNamespace: true
            setValues:
              image.pullPolicy: IfNotPresent
            setValueTemplates:
              image.repository: "{{`{{.IMAGE_REPO_`}}{{.ServiceName}}}}"
              image.tag: "{{`{{.IMAGE_TAG_`}}{{.ServiceName}}}}"

  - name: dev
    build:
      artifacts:
        - image: {{.ServiceName}}
          docker:
            dockerfile: Dockerfile
      googleCloudBuild:
        projectId: <no value>
    deploy:
      helm:
        releases:
          - name: {{.ServiceName}}-dev
            chartPath: ../../../infra/helm/service
            valuesFiles:
              - ./deploy/helm/values.yaml
            namespace: dev
            createNamespace: true
            setValueTemplates:
              image.repository: "{{`{{.IMAGE_REPO_`}}{{.ServiceName}}}}"
              image.tag: "{{`{{.IMAGE_TAG_`}}{{.ServiceName}}}}@{{`{{.IMAGE_DIGEST_`}}{{.ServiceName}}}}"

  - name: prod
    build:
      artifacts:
        - image: {{.ServiceName}}
          docker:
            dockerfile: Dockerfile
      googleCloudBuild:
        projectId: <no value>
    deploy:
      helm:
        releases:
          - name: {{.ServiceName}}-prod
            chartPath: ../../../infra/helm/service
            valuesFiles:
              - ./deploy/helm/values.yaml
            namespace: prod
            createNamespace: true
            setValueTemplates:
              image.repository: "{{`{{.IMAGE_REPO_`}}{{.ServiceName}}}}"
              image.tag: "{{`{{.IMAGE_TAG_`}}{{.ServiceName}}}}@{{`{{.IMAGE_DIGEST_`}}{{.ServiceName}}}}"

  - name: cloudrun
    build:
      artifacts:
        - image: {{.ServiceName}}
          docker:
            dockerfile: Dockerfile
      googleCloudBuild:
        projectId: <no value>
    deploy:
      cloudrun:
        projectid: <no value>
        region: us-central1
