"""Internal package BUILD configuration"""

load("@rules_go//go:def.bzl", "go_library")

go_library(
    name = "internal",
    srcs = ["doc.go"],
    importpath = "{{.ModulePath}}/internal",
    visibility = ["//:__subpackages__"],
)
